<!-- Card -->
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="/assets/garmntShow/bra3.front.svg" alt="Card image cap" (click)="addOnClick($event)">
      <div class="mask rgba-white-slight"></div>

  </div>

  <!-- Card content -->
  <div class="card-body">
    
    <!-- Button -->
    <a href="#" class="btn btn-primary">front</a>
    <a href="#" class="btn btn-primary">back</a>

  </div>

</div>


<!-- <input type="date" class="form-control" placeholder="dd/mm/yyyy" formControlName="inputNascimento" ngbDatepicker #d="ngbDatepicker"> -->
<!-- Card -->