  <!-- Button -->

  <div class="button">
<button type="button" class="btn btn-primary" (click)="onClickEvent()">bras</button>
<!-- <a [routerLink]="['/intimate','back']"></a> <button (click)="gotoProductDetails('/product',product.id)">Go To Details</button> --> -->
<button type="button" class="btn btn-secondary" (click)="onClick()">pants</button>

</div>

<!-- Card 1-->
<div class="card">
<div class="view overlay">
  <img class="card-img-top" src="/assets/garmntShow/bra3.front.svg" alt="Card image cap" (click)="addOnClick($event)">
</div>

<!-- Card content -->
<div class="card-body">

 
  <!-- Button -->
  <a href="javascript:void(0)" class="btn btn-primary" (click)="submit()">Button</a>

</div>
</div>

<div *ngFor="let i of result" >

<div class="card">
<div class="view overlay">
  <img class="card-img-top1" src="/assets/brand2.png" alt="Card image cap" (click)="addOnClick($event)">
  <!-- <a href="#!">
    <div class="mask rgba-white-slight"></div>
  </a> -->
</div>
</div>
<!-- Card content -->
<div class="card-body">

 
  <!-- Button -->
  <!-- <a href="#" class="btn btn-primary">Button</a> -->

</div>
</div>


<div class="card">
  <div class="view overlay">
    <img id="card-img-top2" src="/assets/brand2.png" alt="Card image cap" (click)="addOnClick1($event)">
    <!-- <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a> -->
  </div>
  
  <!-- Card content -->
  <div class="card-body">
  
   
    <!-- Button -->
    <!-- <a href="#" class="btn btn-primary">Button</a> -->
  
  </div>
  </div>


  <div class="card">
    <div class="view overlay">
      <img class="card-img-top" src="/assets/garmntShow/.svg" alt="Card image cap" (click)="addOnClick($event)">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    
    <!-- Card content -->
    <div class="card-body">
    
     
      <!-- Button -->
      <a href="#" class="btn btn-primary">Button</a>
    
    </div>
    </div>


    <div class="card">
      <div class="view overlay">
        <img class="card-img-top" src="/assets/garmntShow/.svg" alt="Card image cap" (click)="addOnClick($event)">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      
      <!-- Card content -->
      <div class="card-body">
      
       
        <!-- Button -->
        <a href="#" class="btn btn-primary">Button</a>
      
      </div>
      </div>


      <div class="card">
        <div class="view overlay">
          <img class="card-img-top" src="/assets/garmntShow/.svg" alt="Card image cap" (click)="addOnClick($event)">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        
        <!-- Card content -->
        <div class="card-body">
        
         
          <!-- Button -->
          <a href="#" class="btn btn-primary">Button</a>
        
        </div>
        </div>




