
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-sidebar w3-bar-block w3-gray" style="width:20%">
    <a href="#" class="w3-bar-item w3-button w3-padding-16">view graph</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-24">add or remove QC</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-32">warning massage</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-32">uploard 2D images</a>
  </div>






